html, body {
    min-height: 100%;
    height: 100%;
}

body {
    padding-top: 70px;
    background-color: white;
}

body.white-bg {
    background-color: white;
}

#wrap {
    min-height: 100%;
    position: relative;
}

#header {
    box-shadow: 0px 2px 5px #ccc;
}

#header #filters-form {
    box-shadow: none;
    border: none;
    padding: 0px;
}

#content {
    padding-bottom: 70px;
}

#footer {
    display: none;
    position: absolute;
    bottom: 0;
    height: 60px; /* Height of the footer */

    width: 100%;
    color: #777;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    background-color: white;
    border-top: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc
}

.row {
    margin: 0px -10px;
}

[class^="col-"] {
    padding: 0px 10px;
}

#sidebar .price-input {
    width: 50%;
    padding-right: 0px;
}

#items-grid {
    padding: 10px 0px 0px 10px;
    background-color: whitesmoke;
}

#items-grid .cart-item-wrapper {
    padding: 0px 10px 0px 0px;
    margin-bottom: 10px;
}

.cart-item {
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    padding: 10px;
    background-color: white;
    background: linear-gradient(#ffffff, #f9f9f9);
    background: -webkit-linear-gradient(#ffffff, #f9f9f9);
    background: -o-linear-gradient(#ffffff, #f9f9f9);
    background: -moz-linear-gradient(#ffffff, #f9f9f9);
    background: linear-gradient(#ffffff, #f9f9f9);
    border-bottom: 5px solid #2aabd2;
}

.cart-item:hover {
    border-bottom-color: #d58512;
}

.cart-item-line {
    border-bottom: 1px solid #ccc;
}

.cart-item-line img {
    width: 100%;
    margin-bottom: 10px;
}

.cart-item img,
.cart-item-line img {
    box-shadow: 1px 1px 2px #888;
    border-radius: 4px;
}

.cart-item .image-wrapper {
    height: 200px;
    position: relative;
}

.cart-item .image-wrapper.image-wrapper-lg {
    height: 300px;
}

.cart-item .image-wrapper img.portrait-img {
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.cart-item .image-wrapper img.landscape-img {
    height: auto;
    max-height: 100%;
    width: 100%;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

#total-price-info .padding-fix {
    padding-left: 20px;
}

ul.ui-autocomplete {
    z-index: 99999;
}